body {
    background: #CAEC15;
    font-family: 'Impact', sans-serif;
    font-size: 14px;
}

div.page {
    background: greenyellow;
    border: 1px solid #6ECC12;
    width: 710px;
    margin: 30px auto;

}

div.page h1 {
    background: #6ECC14;
    margin: 0;
    padding: 10px 14px;
    color: white;
    letter-spacing: 1px;
    text-shadow: 0 0 3px #247788;
    font-weight: normal;
    font-family: 'Trebuchet MS', sans-serif;
}

div.page div.navigation {
    background: #DEE932;
    padding: 10px;
    color: #889889;
    font-size: 12px;
    font-family: 'Impact', sans-serif;
    letter-spacing: 0.5px;
}

div.page, .navigation a {
    color: #555555;
    font-weight: bold;
}

div.page h2 {
    margin: 0 0 15px 0;
    color: #105743;
    text-shadow: 0 1px 2px #ccc;
}

div.page .body {
    padding: 10px;
    position: fixed;
}

div.page .footer {
    background: #199293;
    color: #299848;
    padding: 5px 10px;
    font-size: 12px;
}

div.page ul.players {
    list-style: none;
    margin: 0;
    padding: 0;
}

div.page ul.players li {
    margin: 10px 0;
    padding: 5px;
    background: #F0FAFF;
    border: 1px solid #DBF3FF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.error {
    margin: 10px 0;
    background: #FAE4E4;
    border: 1px solid #DD6F6F;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 4px;
    font-size: 13px;
}

div.info {
    margin: 10px 0;
    background: #FAFFE4;
    border: 1px solid green;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 4px;
    font-size: 13px;
}

a {
    color: #267323;
}
a:hover {
    color: #333;
}
a[disabled] {
    color: gray;
    cursor: default;
}

input[type="text"],
input[type="password"] {
    background: white;
    border: 1px solid #BFE6FF;
    padding: 2px;
    font-family: 'Impact', sans-serif;
    font-size: 14px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: #105722;
}

input[type="submit"] {
    background: #105733;
    border: 1px solid #073B12;
    padding: 1px 3px;
    font-family: 'Impact', sans-serif;
    font-size: 14px;
    font-weight: bold;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: white;
}

