html {
    min-height: 100%;
    position:relative;
}

body {
    background: #2E2A2A;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    min-height: 100%;
}

div.page {
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    width: 910px;
    min-height: 100%;
    margin: 30px auto;
}

div.page h1 {
    background: #CED0CE;
    margin: 0;
    padding: 10px 14px;
    color: #191919;
    letter-spacing: 1px;
    text-shadow: 0 0 3px #191919;
    font-weight: normal;
    font-family: 'Trebuchet MS', sans-serif;
}

#navigation {
    background: #E59322;
    padding: 10px;
    color: #FFFFFF;
    font-size: 12px;
    font-family: 'Trebuchet MS', sans-serif;
    letter-spacing: 0.5px;
}

#navigation a {
    color: #191919;
    font-weight: bold;
    text-decoration: none;
    border-right: 4px hidden #FFFFFF;
    border-left: 4px hidden #FFFFFF;
}

#navigation li {
    display: inline;
}

#navigation a:hover {
    background-color: dimgrey;
}

div.page h2, h3, h4 {
    margin: 0 0 15px 0;
    color: #E59322;
    text-shadow: 0 1px 2px #ccc;
}

div.page div.body {
    padding: 10px;
    position: fixed;
}

div.page div.footer {
    background: #199293;
    color: #299848;
    padding: 5px 10px;
    font-size: 12px;
}

div.error {
    margin: 10px 0;
    background: #FAE4E4;
    border: 1px solid #DD6F6F;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 4px;
    font-size: 13px;
}

div.info {
    margin: 10px 0;
    background: #FAFFE4;
    border: 1px solid green;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 4px;
    font-size: 13px;
}

#signOut {
    float: right;
}

a {
    color: #191919;
}
a:hover {
    color: dimgrey;
}
a[disabled] {
    color: gray;
    cursor: default;
}

input[type="text"],
input[type="password"] {
    background: white;
    border: 1px solid #BFE6FF;
    padding: 6px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #105722;
}

input[type="submit"] {
    background: #105733;
    border: 1px solid grey;
    padding: 1px 3px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-weight: bold;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: white;
}

.wrapper {
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */
    max-width: 960px; /* 2 */
    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
}
